<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LinkGame</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    body {
      background: radial-gradient(circle, #aaa, pink);
    }

    .content {
      width: 600px;
      height: 420px;
      margin: 100px auto;
    }

    .content ul {
      width: 100%;
    }

    .content ul li {
      width: 100px;
      height: 70px;
      box-sizing: border-box;
      float: left;
      border: 1px solid black;
    }

    .content ul li .img {
      width: 100%;
      height: 100%;
      font-size: 50px;
      text-align: center;
      line-height: 100%;
      background-color: antiquewhite;
    }

  </style>
  <script src="js/utils.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
        <li>
          <div class="img"></div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    var oImgDivArr = [].slice.call(document.getElementsByClassName('img'), 0);
    var textArr = [];
    var lastClick = [];
    var startLetter = 'A'.charCodeAt(0);
    while (textArr.length < 36) {
      textArr.push(String.fromCharCode(startLetter));
      textArr.push(String.fromCharCode(startLetter++));
    }
    textArr = shuffle(textArr);
    oImgDivArr.forEach(function (ele, index) {
      ele.innerText = this[index];
      ele.onclick = function () {
        if (lastClick.length) {
            if (lastClick[0] != this && this.innerText == lastClick[0].innerText) {
                fadeOut(this, 30);
            } else {
                lastClick[0] = this;
            }
        } else {
            lastClick[0] = this;
        }
      }
    }, textArr);

    function fadeOut(obj, num) {
      var flag = false;
      dynamicProp(this, {
        opacity: num
      }, function () {
        if (flag) {
            if (num == 100) {
                setTimeout(function () {
                this.style.display = 'none';
                lastClick[0].style.display = 'none';
                }.bind(this), 800);
            } else {
                fadeOut(this, 100);
            }
        } else {
            flag = true;
        }
      }.bind(obj));
      dynamicProp(lastClick[0], {
        opacity: num
      }, function () {
        if (flag) {
          if (num == 100) {
            setTimeout(function () {
              this.style.display = 'none';
              lastClick[0].style.display = 'none';
            }.bind(this), 800);
          } else {
            fadeOut(this, 100);
          }
        } else {
          flag = true;
        }
      }.bind(obj));
    }

    function shuffle(arr) {
      arr = JSON.parse(JSON.stringify(arr));
      var flag = new Array(arr.length);
      var newArr = new Array(arr.length);
      for (var i = 0; i < arr.length; i++) {
        var j;
        do {
          j = ~~(Math.random() * (arr.length));
        } while (flag[j]);
        flag[j] = true;
        newArr[j] = arr[i];
      }
      return newArr;
    }

  </script>
</body>

</html>
